@charset "UTF-8";
/*common*/
table {
    border-collapse: collapse;
    table-layout: fixed;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button, img {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 1;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    font-style: normal;
    color: #333;
    word-break: break-all
}

body {
    font-family: "Microsoft YaHei";
    position: relative;
    background: none
}

body, input, select, textarea, button {
    font-size: 12px;
    line-height: 1
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

a {
    text-decoration: none;
}

fieldset, img, abbr, acronym {
    border: 0 none;
}

img {
    vertical-align: top;
}

abbr, acronym {
    font-variant: normal;
}

blockquote, q {
    quotes: none
}

dl, ul, ol, menu, li {
    list-style: none
}

input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

/* 输入控件字体 */
input, select, textarea, button {
    vertical-align: middle;
    outline: none;
}

textarea {
    resize: none;
    overflow: auto;
}

input[type="button"] {
    cursor: pointer;
}

button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

a:focus {
    outline: none;
}

input::-ms-clear, input::-ms-reveal {
    display: none;
}

.hide {
    display: none;
}

.pb0 {
    padding-bottom: 0 !important;
}

.table_demo {
    width: 80%;
    margin: 0 auto;
}

.table_demo > tbody > tr > td {
    border: 1px solid #ddd;
    padding: 20px;
}

.table_demo > tbody {
    padding: 10px;
    border: 1px solid #ddd;
}

/* clearfix */
.clearfix {
    *zoom: 1;
}

.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
}

.clear {
    clear: both;
}

/* public.omission */
.fl {
    float: left;
    display: inline
}

.fr {
    float: right;
    display: inline
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

.pr {
    position: relative
}

.pa {
    position: absolute
}

.nobod {
    border: 0 !important
}

.w330 {
    width: 330px !important;
}

.w270 {
    width: 270px !important;
}

.w500 {
    width: 500px;
}

.h300 {
    height: 300px;
}

.h231 {
    height: 231px
}

.h154 {
    height: 160px
}

/*margin start*/
/*m-left*/
.ml10 {
    margin-left: 10px;
}

/*m-right*/
.mr10 {
    margin-right: 10px;
}

.mr30 {
    margin-right: 30px;
}

.mr0 {
    margin-right: 0 !important;
}

/*m-top*/
.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt24 {
    margin-top: 24px !important
}

.mt40 {
    margin-top: 40px;
}

.mt12 {
    margin-top: 12px;
}

.mt30 {
    margin-top: 30px;
}

.mt19 {
    margin-top: 19px;
}

.mt50 {
    margin-top: 50px;
}

/*m-bottom*/
.mb10 {
    margin-bottom: 10px !important;
}

.mb20 {
    margin-bottom: 20px;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

/*margin over*/
.ov {
    overflow: hidden;
}

/*底部footer*/
.footer_warp {
    width: 100%;
    height: 135px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    min-width: 1200px;
}

.footer {
    height: 134px;
    width: 1200px;
    margin: 0 auto
}

.w1080 {
    width: 1080px
}

.link li {
    display: inline-block;
    vertical-align: middle;
    padding-right: 12px;
    border-right: 1px solid #999;
    font-size: 12px;
    margin-left: 12px
}

.link li.nobod {
    border: none
}

.link li.nomargin {
    margin: 0
}

.link li a {
    display: inline-block;
    color: #999;
    text-decoration: none
}

.link li a:hover {
    color: #ff6600;
    text-decoration: underline;
}

.copyright {
    font-size: 12px;
    color: #999;
    margin-top: 30px
}

.footer > .fr a {
    width: 118px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #d6d6d6;
    font-size: 14px;
    color: #666;
    display: block;
    text-decoration: none;
    text-align: center
}

.footer > .fr a:hover {
    background: #ffe8dd;
    border-color: #ff6600;
    color: #ff6600;
}

.w120 {
    width: 120px
}

.ml0 {
    margin-left: 0 !important
}

.br0 {
    border-right: 0 !important
}

/*面包屑*/
.crumb {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    margin-bottom: 10px;
    clear: both;
}

.crumb li {
    height: 32px;
    line-height: 32px;
    float: left;
    background: url(../images/crumb.png) no-repeat right center;
    color: #f60;
    padding: 0 10px;
    font-size: 14px
}

.crumb li a {
    color: #666;
    text-decoration: none
}

.crumb_home {
    background: url(../images/crumb_home.png) no-repeat 0 center;
    padding-left: 16px
}

.crumb li.crumb_cur {
    background: 0 0;
    font-weight: bold
}

/*buttons start*/
.btn_solid, .btn_border {
    cursor: pointer;
    font-size: 13px;;
    width: 120px;
    height: 36px;
    box-sizing: border-box;
    line-height: 36px;
    text-align: center;
    float: left;
    letter-spacing: 2px;
    text-indent: -2px;
}

.btn_solid {
    color: #fff;
    background-color: #ff6600;
}

.btn_solid:hover {
    background-color: #f68e5c;
}

.btn_border {
    color: #ff6600;
    border: 1px solid #ff6600;
}

.bcf {
    background: #fff;
}

.btn_border:hover {
    background-color: #ffe8dd;
}

.btn_solid.btn_press {
    background-color: #e65f1d;
}

.w270 {
    width: 270px;
}

/*buttons over*/
@charset "UTF-8";
.window_P {
    width: 730px;
    height: 435px;
    background: #fff;
    box-shadow: 0 0 20px #ddd; /*position:fixed;left:50%;top:50%;margin-top:-218px;margin-left:-365px;*/
    border: 1px solid #ddd;
    margin: 20px auto 0 auto
}

.windowL_P {
    width: 200px;
    border-right: 1px solid #dddddd;
    height: 435px;
}

.windowL_P > dd {
    height: 395px;
    overflow: hidden
}

.windowL_P > dt, .windowR_P > dt {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #dddddd
}

.windowL_P > dt > span, .windowR_P > dt > span {
    display: inline-block;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding-left: 12px;
    font-size: 14px;
    color: #333333;
    line-height: 40px;
}

.windowL_P li {
    min-height: 32px;
    position: relative;
    cursor: pointer;
    line-height: 32px;
}

.windowL_P li.talkGroup_P:hover {
    background-color: #f5f5f5
}

.windowL_P li img {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 10px;
    top: 4px;
}

.windowL_P .talkGroup_P {
    width: 100%;
    box-sizing: border-box;
    padding-left: 45px;
    height: 32px;
    font-size: 12px;
    color: #333333;
    line-height: 32px;
}

.windowL_P .talkGroup_P.on_P, .windowL_P .group li.on_P {
    background-color: #f0f0f0
}

.windowL_P .group p {
    height: 32px;
    line-height: 32px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 30px;
    background: url("../images/leftsan.png") no-repeat 13px center
}

.windowL_P .group p.slid_P {
    background: url("../images/groupsan.png") no-repeat 10px center
}

.windowL_P .group p:hover {
    background-color: #f5f5f5
}

.windowL_P .group li {
    width: 100%;
    box-sizing: border-box;
    padding: 0 25px 0 45px;
}

.windowL_P .group li {
    height: 45px;
    line-height: 45px;
}

.windowL_P .group li img {
    top: 10px
}

.windowL_P .group li:hover {
    background-color: #f5f5f5
}

.online_P {
    background: url("../images/online.png") no-repeat 175px center
}

.windowL_P .group li span {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.windowL_P .group > ul {
    display: none
}

.pl15 {
    padding-left: 15px;
}

.cur_P {
    padding-left: 15px;
}

.windowR_P {
    width: 529px;
    height: 435px;
}

.window_P .windowR_P > dt {
    width: 100%;
    box-sizing: border-box;
    padding-right: 38px;
    position: relative;
    height: 41px;
}

.closeBtn_P {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/close_icon.png") no-repeat center center;
    position: absolute;
    top: 11px;
    right: 10px;
    cursor: pointer;
}

.talkCon_P {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 12px 5px 12px;
    height: 272px;
    overflow: hidden;
    background: url("../images/lineRea.png") repeat-x bottom left
}

.talkCon_P .otherAsk_P, .talkCon_P .myAsk_P {
    margin-bottom: 18px
}

.otherAsk_P > a {
    display: inline-block;
    float: left
}

.otherAsk_P > a > img, .myAsk_P > a > img {
    width: 24px;
    height: 24px;
}

.otherAsk_P > dl {
    float: left;
    width: 445px;
    box-sizing: border-box;
    padding-left: 10px
}

.otherAsk_P > dl > dt, .myAsk_P > dl > dt {
    font-size: 12px;
    color: #666666;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
}

.otherAsk_P > dl > dd > span, .myAsk_P > dl > dd > span {
    font-size: 13px;
    color: #333333;
    background: #f0f0f0;
    line-height: 24px;
    padding: 5px 10px 5px 12px;
    display: inline-block;
    max-width: 400px;
    white-space: normal
}

.myAsk_P > a {
    display: inline-block;
    float: right
}

.myAsk_P > dl {
    float: right;
    width: 445px;
    box-sizing: border-box;
    padding-right: 10px;
    text-align: right
}

.talkCon_P .myAsk_P > dl > dd > span {
    background: #b3acf2;
    color: #fff
}

.talkCon_P .myAsk_P > a {
    padding-top: 5px;
}

.funList_PJY {
    height: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid #fdfdfd
}

.funList_PJY a {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: 7px;
    margin-left: 15px;
}

.mood_P {
    background: url("../images/mood.png") no-repeat center center
}

.history_P {
    background: url("../images/history.png") no-repeat center center
}

.textWin_P > div {
    width: 100%;
    line-height: 20px;
    height: 50px;
    padding: 0px 15px 5px 15px;
    box-sizing: border-box
}

.btnList_P {
    width: 100%;
    padding-right: 12px;
    box-sizing: border-box;
    text-align: right
}

.send_P {
    display: inline-block;
    width: 100px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background: #7265e6
}

.send_P:hover {
    background-color: #948aec;
}

.hisList_P {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    height: 360px;
    overflow: hidden
}

.hisList_P dl {
    margin-bottom: 10px
}

.hisList_P dt {
    font-size: 13px;
    width: 460px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px
}

.hisList_P .blue_P {
    color: #3075fb
}

.hisList_P .org_P {
    color: #7265e6
}

.hisList_P dd {
    width: 460px;
    padding-left: 12px;
    line-height: 20px;
    font-size: 13px;
}

.pageList_P > a {
    display: inline-block;
    width: 10px;
    height: 14px;
    margin-left: 10px;
}

.first_P {
    background: url("../images/first_his.png") no-repeat center center
}

.prev_P {
    background: url("../images/prev_his.png") no-repeat center center
}

.next_P {
    background: url("../images/next_his.png") no-repeat center center
}

.last_P {
    background: url("../images/last_his.png") no-repeat center center
}

.first_P.disabled_P {
    background: url("../images/firstdis_his.png") no-repeat center center
}

.prev_P.disabled_P {
    background: url("../images/prevdis_his.png") no-repeat center center
}

.next_P.disabled_P {
    background: url("../images/nextdis_his.png") no-repeat center center
}

.last_P.disabled_P {
    background: url("../images/lastdis_his.png") no-repeat center center
}

.hisFoot_P {
    height: 30px;
    border-top: 1px solid #dddddd;
    padding-top: 10px;
    box-sizing: border-box;
    padding-right: 10px
}

.pageList_P {
    float: right
}

.timeBox_P {
    float: right
}

.timeBox_P a {
    display: inline-block;
    width: 100px;
    box-sizing: border-box;
    height: 15px;
    padding-left: 20px;
    background: url("../images/datePic.png") no-repeat left center;
    color: #666666;
    font-size: 12px;
    line-height: 15px;
}

.timeBox_P a:hover {
    background-image: url("../images/datePic_hover.png")
}

.moodList_P {
    width: 240px;
    background-color: #fff;
    overflow: hidden;
    border: 1px solid #ddd;
    text-align: left;
    padding: 5px 10px;
    position: absolute;
    top: -64px;
    left: -30px;
}

.moodList_P > li {
    display: inline-block;
    margin: 4px;
    cursor: pointer;
}

.moodList_P > li > img {
    width: 18px;
    height: 18px;
}

.windowR_P.left2_P {
    display: none
}

.window_P .mCSB_scrollTools {
    width: 7px;
}

.return_P {
    cursor: pointer;
    margin-right: 5px;
    display: inline-block;
    width: 12px;
    height: 11px;
    background: url("../images/return-(1).png") no-repeat center center
}

.return_P:hover {
    background-image: url("../images/return-hover.png")
}

/*******通讯录遮罩层*******/
.downLine_P {
    position: relative
}

.downLine_P span {
    color: #bbb
}

.shadow_P {
    display: inline-block;
    position: absolute;
    top: 10px;
    border-radius: 12px;
    left: 10px;
    width: 24px;
    height: 24px;
    background: #f0f0f0;
    opacity: 0.6;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    z-index: 999
}

.talkCon_P .myAsk_P > dl > dd > span p {
    color: #fff;
    font-size: 13px;
    line-height: 24px
}

.titleSty2_P {
    display: inline-block;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
