@charset "utf-8";
.logHeader{width:100%;height: 312px;background:url(../image/header.png) center center no-repeat;padding-top: 20px;box-sizing: border-box;}
.wrapper{width: 1200px;margin: 0 auto;}
.logFooter{width:100%;margin: 450px 0 20px;}
.logFooter p{font-size: 12px;color:#333;text-align: center;}
.loginBox{width: 352px;height:300px;background: url(../image/loginBox.png) center center no-repeat;position: absolute;top:-60px;left:50%;margin-left: -176px;padding: 24px 27px 37px 25px;box-sizing: border-box;}
.logTitle{font-size: 16px;color:#333;font-weight: bold;border-left:2px solid #ffae00;padding-left: 8px;margin-bottom: 23px;}
.error{height: 30px;line-height: 30px;font-size: 12px;color:#ff5151;position: absolute;top:0;}
.inputBox{width: 300px;height:40px; padding:0 20px 0 14px;box-sizing: border-box;border:1px solid #dfdfdf;border-radius: 3px;position: relative;margin-bottom: 20px;}
.inputBox input{width: 260px;height:38px;line-height: 38px;position: absolute;top:0;left:14px;border:0;outline: 0;font-size: 14px;color: #333;z-index: 2;background: transparent;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.inputBox p{width: 260px;height:38px;line-height: 38px;position: absolute;top:0;left:14px;font-size: 14px;color:#999;z-index: 1;}
.clearBtn{float:right;width: 7px;height: 38px;background: url(../image/cancelBtn.png) center 0 no-repeat;position: absolute;right:13px;display: none;}
.clearBtn:hover{background-position: center -38px;z-index: 3;}
.loginBtn{display:block;width: 100%;height: 40px;line-height: 40px;text-align: center;background: #ffae00;font-size: 14px;color:#fff;border-radius: 3px;margin-top: 30px;}
.loginBtn:hover{background: #59beff}
.pt30{padding-top: 30px;}
