@charset "UTF-8";
.window_P{width:730px;height:435px;background:#fff;box-shadow: 0 0 20px #ddd;/*position:fixed;left:50%;top:50%;margin-top:-218px;margin-left:-365px;*/border:1px solid #ddd;margin: 20px auto 0 auto}
.windowL_P{width:200px;border-right:1px solid #dddddd;height:435px;}
.windowL_P>dd{height:395px;overflow: hidden}
.windowL_P>dt,.windowR_P>dt{width:100%;height:40px;border-bottom:1px solid #dddddd}
.windowL_P>dt>span,.windowR_P>dt>span{display:inline-block;width:100%;height:40px;box-sizing: border-box;padding-left:12px;font-size:14px;color:#333333;line-height:40px;}
.windowL_P li{min-height:32px;position:relative;cursor:pointer;line-height:32px;}
.windowL_P li.talkGroup_P:hover{background-color:#f5f5f5}
.windowL_P li img{width:24px;height:24px;position:absolute;left:10px;top:4px;}
.windowL_P .talkGroup_P{width:100%;box-sizing: border-box;padding-left:45px;height:32px;font-size:12px;color:#333333;line-height:32px;}
.windowL_P .talkGroup_P.on_P,.windowL_P .group li.on_P{background-color:#f0f0f0}
.windowL_P .group p{height:32px;line-height:32px;width:100%;box-sizing: border-box;padding-left:30px;background:url("../image/leftsan.png") no-repeat 13px center}
.windowL_P .group p.slid_P{background: url("../image/groupsan.png") no-repeat 10px center}
.windowL_P .group p:hover{background-color:#f5f5f5}
.windowL_P .group li{width:100%;box-sizing: border-box;padding:0 25px 0 45px;}
.windowL_P .group li{height:45px;line-height:45px;}
.windowL_P .group li img{top:10px}
.windowL_P .group li:hover{background-color:#f5f5f5}
.online_P{background:url("../image/online.png") no-repeat 175px center}
.windowL_P .group li span{display:inline-block;width:100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap}
.windowL_P .group>ul{display:none}
.pl15{padding-left:15px;}
.cur_P{padding-left:15px;}
.windowR_P{width:529px;height:435px;}
.window_P .windowR_P>dt{width:100%;box-sizing: border-box;padding-right:38px;position:relative;height:41px;}
.closeBtn_P{display:inline-block;width:20px;height:20px;background:url("../image/close_icon.png") no-repeat center center;position: absolute;top:11px;right:10px;cursor:pointer;}
.talkCon_P{position: relative;width:100%;box-sizing: border-box;padding:15px 12px 5px 12px;height:272px;overflow:hidden;background:url("../image/lineRea.png") repeat-x bottom left}
.talkCon_P .otherAsk_P,.talkCon_P .myAsk_P{margin-bottom:18px}
.otherAsk_P>a{display:inline-block;float:left}
.otherAsk_P>a>img,.myAsk_P>a>img{width:24px;height:24px;}
.otherAsk_P>dl{float:left;width:445px;box-sizing: border-box;padding-left:10px}
.otherAsk_P>dl>dt,.myAsk_P>dl>dt{font-size:12px;color:#666666;width:100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-bottom:8px;}
.otherAsk_P>dl>dd>span,.myAsk_P>dl>dd>span{font-size:13px;color:#333333;background:#f0f0f0;line-height:24px;padding:5px 10px 5px 12px;display: inline-block;max-width:400px;white-space: normal}
.myAsk_P>a{display:inline-block;float:right}
.myAsk_P>dl{float:right;width:445px;box-sizing: border-box;padding-right:10px;text-align:right}
.talkCon_P .myAsk_P>dl>dd>span{background:#ff6600;color:#fff}
.talkCon_P .myAsk_P>a{padding-top:5px;}
.funList_PJY{height:30px;box-sizing: border-box;border-bottom:1px solid #fdfdfd}
.funList_PJY a{display:inline-block;width:16px;height:16px;margin-top:7px;margin-left:15px;}
.mood_P{background:url("../image/mood.png") no-repeat center center}
.history_P{background:url("../image/history.png") no-repeat center center}
.textWin_P>div{width:100%;line-height:20px;height:50px;padding:0px 15px 5px 15px;box-sizing: border-box}
.btnList_P{width:100%;padding-right:12px;box-sizing: border-box;text-align: right}
.send_P{display:inline-block;width:52px;height:32px;line-height:32px;text-align:center;color:#fff;font-size:12px;background:#ff6600}
.send_P:hover{background-color:#f68e5c;}
.hisList_P{width:100%;box-sizing: border-box;padding:10px 20px;height:360px;overflow:hidden}
.hisList_P dl{margin-bottom:10px}
.hisList_P dt{font-size:13px;width:460px;white-space: normal;overflow: hidden;text-overflow: ellipsis;margin-bottom:5px}
.hisList_P .blue_P{color:#3075fb}
.hisList_P .org_P{color:#ff6600}
.hisList_P dd{width:460px;padding-left:12px;line-height:20px;font-size:13px;}
.pageList_P>a{display:inline-block;width:10px;height:14px;margin-left:10px;}
.first_P{background:url("../image/first_his.png") no-repeat center center}
.prev_P{background:url("../image/prev_his.png") no-repeat center center}
.next_P{background:url("../image/next_his.png") no-repeat center center}
.last_P{background:url("../image/last_his.png") no-repeat center center}
.first_P.disabled_P{background:url("../image/firstdis_his.png") no-repeat center center}
.prev_P.disabled_P{background:url("../image/prevdis_his.png") no-repeat center center}
.next_P.disabled_P{background:url("../image/nextdis_his.png") no-repeat center center}
.last_P.disabled_P{background:url("../image/lastdis_his.png") no-repeat center center}
.hisFoot_P{height:30px;border-top:1px solid #dddddd;padding-top:10px;box-sizing: border-box;padding-right:10px}
.pageList_P{float:right}
.timeBox_P{float:right}
.timeBox_P a{display:inline-block;width:100px;box-sizing: border-box;height:15px;padding-left:20px;background:url("../image/datePic.png") no-repeat left center;color:#666666;font-size:12px;line-height:15px;}
.timeBox_P a:hover{background-image: url("../image/datePic_hover.png")}
.moodList_P{width:240px;background-color:#fff;overflow:hidden;border:1px solid #ddd;text-align:left;padding:5px 10px;position: absolute;top:-64px;left:-30px;}
.moodList_P>li{display:inline-block;margin:4px;cursor:pointer; }
.moodList_P>li>img{width:18px;height:18px;}
.windowR_P.left2_P{display:none}
.window_P .mCSB_scrollTools{width:7px;}
.return_P{cursor:pointer;margin-right:5px;display:inline-block;width:12px;height:11px;background:url("../image/return-(1).png") no-repeat center center}
.return_P:hover{background-image: url("../image/return-hover.png")}
/*******通讯录遮罩层*******/
.downLine_P{position:relative}
.downLine_P span{color:#bbb}
.shadow_P{display:inline-block;position:absolute;top:10px;border-radius: 12px;left:10px;width:24px;height:24px;background:#f0f0f0;opacity: 0.6;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);z-index: 999}
.talkCon_P .myAsk_P>dl>dd>span p{color:#fff;font-size:13px;line-height:24px}

.titleSty2_P{display:inline-block;max-width:150px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
