<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>AnyChatServer</display-name>
   <servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>org.anychat.init.InitServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <context-param>
	    <param-name>configFileName</param-name>
	    <param-value>AnyChatServer.properties</param-value>
	</context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>